
#header {
  	width: 100%;
	background-color:  #4d94ff;
	padding-left:170px;
	color: #f7f7f7;
	font-family: "Times New Roman", Times, serif;
	margin-left: -160px;
}

 h1 {
    margin: -10px -10px; 
	
}

h2 {
	margin-left:-10px;
}

.content p{
	float:left; 
	width:60em;
	text-indent: 30px;
	margin: 3px 0;
		font-family: "Times New Roman", Times, serif;
		font-size: 1.1em;
	}



.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; 
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}


.sidenav a {
    padding: 16px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}


.sidenav a:hover {
    color: #f1f1f1;
}


/* Style page content */
body {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
